<h1>Members</h1>

<ul>
  <% members.map((member) => { %>
    <li>
      <%= member.first_name %> 
      <%= member.last_name %> 
      <%= member.is_admin ? '(Admin)' : null %>
    </li>
  <% }) %>
</ul>