<h1>Delete Message</h1>
<div>
  <p><%= message.title %></p>
  <p><%= message.text %></p>
</div>

<button><a href="/<%= message._id %>/edit">Back</a></button>

<form action="" method="POST">
  <input type="submit" value="Delete Message">
</form>